<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/index.css" />
    <title>Document</title>
  </head>
  <body>
    <div id="wrap">
      <div class="top">
        <span class="title">Hello!<%=email%></span>
      </div>
      <div class="user">
        <input
          type="button"
          class="btn"
          onclick=" location.href='/login'"
          value="LOGIN"
        />
        <input
          type="button"
          class="btn"
          onclick=" location.href='/signup'"
          value="SIGNUP"
        />
        <input
          type="button"
          class="btn"
          onclick=" location.href='/logout'"
          value="LOGOUT"
        />
      </div>
    </div>
  </body>
</html>
